h1 {
	padding-top: 55px;
	padding-left: 5px;
	text-align: center;
	color: grey;
	text-shadow: 2px 2px white;
	font-size: 50px;
	font-family: fantasy, cursive, sans-serif;
	/* color: insert color here */
}

body {
	font-family: "Arial", sans-serif;

	color: black;
	font-size: 15px;
	background-color: #a30f2d;
	background-image: url('../images/musicheartwallpaper.jpg');
}

.jukebox {
	width: 430px;
	min-height: 500px;
	overflow: auto;
	margin: 70px auto;
	border: #595959 solid 2px;
	border-radius: 10px;
	background-color: rgba(235, 45, 83, .5);
}

/*
.jukebox {
	width: 90%;
	display: block;
	margin: 15px auto;
	margin-left: 23px;
	overflow: auto;
	float: left;
}
*/

.jukebox-master-hearts {
	width: 95px;
	height: 95px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	float: left;
	display: block;
	cursor: pointer;
}

.jukebox-buttons-previous {
	background-image: url('../images/heartpreviousbutton.svg');
	padding-left: 5px;
}

.jukebox-buttons-play {
	background-image: url('../images/heartplaybutton.svg');
	padding-left: 5px;
}

.jukebox-buttons-pause {
	background-image: url('../images/heartpausebutton.svg');
	padding-left: 5px;
}
.jukebox-buttons-stop {
	background-image: url('../images/heartstopbutton.svg');
	padding-left: 5px;
}
.jukebox-buttons-next {
	background-image: url('../images/heartskipbutton.svg');
	padding-left: 9px;
}

p {
	height: 30px;
}

p2 {
	height: 5px;
}

.jukebox-buttons-upload {
	height: 80px;
	padding-top: 15px;
	padding-left: 20px;
}

.jukebox-songs {
	text-align: center;
	padding-top: 25px;
	padding-bottom: 10px;
}

.jukebox-songs-art {
	top: 50px;
	left: 50px;
	margin: 0 auto;
}

.artwork {
	top: 50px;
	left: 50px;
	margin: 0 auto;
}
